__pycache__
.DS_Store
.imageapp
.vscode
images
old_models
old_py
pre_tools
uploads

static/models/apexile_128.h5
static/models/apexile_128.npy

animal_cnn_aug.py
animan_cnn_adam.h5

settings.ini
settings.py
model_loss1.53_acc0.72.h5
squeeze50_loss1.18_acc0.77.h5